requests_oauthlib
flask
flask-migrate
titlecase
python-dotenv
gunicorn
psycopg2-binary

pytest
pytest-watch
httpretty

# Workaround for https://github.com/gabrielfalcao/HTTPretty/issues/345
pyOpenSSL

pip-tools